*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --text-color:rgba(0, 0, 0, 0.6);
    --primary-color:#B31C25;
}

.grid{
    max-width: 1280px;
    margin: 0 auto;
}

/* ------------------------------------------------------- */

/* Header */

.header{
    
}

.header__container{
}

.header__logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 7.5rem 1.6rem 1.6rem;
}

.header__nav{
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    height: 4.8rem;
    display: flex;
    justify-content: space-around;
}

.header__nav-item{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
    padding:0 0.4rem;
    line-height: 4.8rem;
}

.header__nav-item:hover {
    border-bottom: 3px solid var(--primary-color);
}

/* carousel */

/* .carousel__container{
    background-image: url(../images/slider_1.png);
    height: 50rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 1.6rem;
} */

.carousel__container{
    position: relative;
    margin-top: 1.6rem;
}

.carousel__item{
    display: none;
    animation: fade 1.5s;
}

.carousel__item img{
    width: 100%;
    height: 50rem;
}

/* Next & previous buttons */
.carousel__btn{
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 0.8rem;
    color: white;
    font-weight: bold;
    font-size: 3.2rem;
    transition: 0.6s ease;
    border-radius: 0.3rem;
    user-select: none;
    transform: translateY(-50%);
  }
  
  /* Position the "next button" to the right */
  .btn-next {
    right: 0;
  }

  .carousel__btn:hover {
    background-color: rgba(0,0,0,0.4);
  }

.carousel__dot{
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translateX(-50%);
}

.carousel__dot-item{
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
    margin: 0 0.4rem;
    border-radius: 50%;
    display: inline-block;
    background-color:transparent;
    border: 1px solid var(--primary-color);
}

.active, .carousel__dot-item:hover {
    background-color: var(--primary-color);
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* Introduce */

.introduce{

}

.introduce__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4.8rem;
}

.introduce__title{
    font-size: 2.4rem;
    user-select: none;
}

.introduce__line{
    margin: 1.6rem 0;
}

.introduce__desc{
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 2.8rem;
    text-align: justify;
}

/* Course */

.course{

}

.course__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.8rem;
}

.course__title{
    font-size: 2.4rem;
    user-select: none;
}

.course__line{
    margin:1.6rem 0;
}

.course__content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.course__item{

}

.course__item-img{
}

.course__item-title{
    text-transform: uppercase;
    margin: 0.8rem 0;
    color: var(--primary-color);
}

.course__item-desc{
    font-size: 1.2rem;
    color: var(--text-color);
    user-select: none;
}

/* News */

.news{

}

.news__container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.news__title{
    font-size: 2.4rem;
    margin-top: 4.8rem;
    user-select: none;
}

.news__line{
    margin: 1.6rem 0
}

.news__content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 1.6rem;
    grid-row-gap: 1.2rem;
}

.news__content-item{
    padding-bottom: 0.4rem;
    border-bottom: 3px solid var(--primary-color);
}

.news__content-item{
    position: relative;
}

.news__content-item:nth-child(1){
    grid-row: 1 / 3;
}

.news__content-item img{
    width: 100%;
    height: 100%;
}

.news__content-item h1{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 4px;
    width: 100%;
    font-weight: 500;
    height: 4.8rem;
    display: flex;
    align-items: center;
    padding: 0 1.8rem;
}

.footer{
    background-color: var(--primary-color);
}

.footer__container{
    height: 16rem;
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
}

.footer__container img{
    width: 180px;
    height: 90px;
}

.footer__container p{
    font-size: 1.2rem;
    line-height: 2rem;
    color: #fff;
    word-spacing: 0.3rem;
}